<h3 class="fb-title"><a class="pull-left btn-go-back" ui-sref="surveys.list" title="Back to surveys list"><i
        class="fa fa-arrow-left"></i></a>Analytic</h3>
<highchart id="chart-{{survey.slug}}" config="chartOption"></highchart>

<h3 class="mt3x fb-title">{{survey.name}}</h3>
<p>{{survey.question}}</p>
<div class="mt3x"></div>
<div class="form-group">
    <input type="text" ng-model="website" class="form-control"/>
</div>
<div class="row mt" ng-repeat="option in survey.options">
    <div class="col-md-1">
        <img ng-src="{{option.emoji}}" width="40" alt="{{option.title}}"/>
    </div>
    <div class="col-md-2">{{option.title}}</div>
    <div class="col-md-9">
        <div class="input-group">
            <span class="input-group-addon">{{website}}{{kApp}}</span>
            <input type="text" class="form-control form-copied" value="{{option.slug}}" disabled/>
            <!--
            <span class="input-group-addon btn-copy" clip-copy="getLink(option)" ><i class="fa fa-clipboard"></i></span>
            -->
        </div>
    </div>
</div>
<div class="row mt3x">
    <div class="col-md-12 text-center">
        <a class="btn btn-large btn-primary btn-copy-template" href="javascript:;" clip-copy="getEmailTemplate()"><i
                class="fa fa-clipboard"></i> Copy Survey to Email</a>
    </div>
</div>
<div class="mt3x"></div>

<!--
<h3 class="fb-title">Feedbacks</h3>
<table ng-table="tableFeedbacks" class="table table-condensed table-bordered table-striped" show-filter="true">
  <tr ng-repeat="row in $data">
    <td data-title="'Option'" filter="{option_text: 'text'}">{{row.option_text}}</td>
    <td data-title="'Website'" filter="{website: 'text'}">{{row.website}}</td>
    <td data-title="'Created'">{{row.created | amDateFormat:'DD-MM-YYYY'}}</td>
  </tr>
</table>
<div class="mt3x"></div>
-->
